body {
	margin:0;
	padding:0;
	font-family: sans-serif;
	line-height: 1.5;
}

#navbar {
	position: fixed;
	min-width: 290px;
	width:300px;
	overflow: auto;
	/*margin: 10px 0 20px 30px;*/
	padding: 10px;
	background-color: #d9d6d6;;
	border-right:solid;
	height:100%;
}


#main-doc {
	/*width:320px;*/
	margin-left: 320px;
	/*margin-top: 50px;*/
	padding: 20px;
	background-color: #ecd2d6;
}

.main-section {
	
}

code {
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}



@media only screen and (max-width: 815px) {
  /* For mobile phones: */
  #navbar ul {
    border: 1px solid;
    height: 207px;
  }

  #navbar {
    background-color: white;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
  }
}

@media only screen and (max-width: 400px) {
  #main-doc {
    margin-left: -10px;
  }

  code {
    margin-left: -20px;
    width: 100%;
    padding: 15px;
    padding-left: 10px;
    padding-right: 45px;
    min-width: 233px;
  }
}
